<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-periodicitat-configurable-heading" jhiTranslate="gestioClientsApp.periodicitatConfigurable.home.createOrEditLabel">Create or edit a Periodicitat Configurable</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.periodicitatConfigurable.frequencia" for="field_frequencia">Frequencia</label>
                    <input type="number" class="form-control" name="frequencia" id="field_frequencia"
                           formControlName="frequencia"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.periodicitatConfigurable.periodicitat" for="field_periodicitat">Periodicitat</label>
                    <select class="form-control" name="periodicitat" formControlName="periodicitat" id="field_periodicitat">
                        <option value="DIA">{{'gestioClientsApp.Periodicitat.DIA' | translate}}</option>
                        <option value="SETMANA">{{'gestioClientsApp.Periodicitat.SETMANA' | translate}}</option>
                        <option value="QUINZENAL">{{'gestioClientsApp.Periodicitat.QUINZENAL' | translate}}</option>
                        <option value="MES">{{'gestioClientsApp.Periodicitat.MES' | translate}}</option>
                        <option value="ANY">{{'gestioClientsApp.Periodicitat.ANY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.periodicitatConfigurable.observacions" for="field_observacions">Observacions</label>
                    <input type="text" class="form-control" name="observacions" id="field_observacions"
                           formControlName="observacions"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
