<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-plantilla-feina-heading" jhiTranslate="gestioClientsApp.plantillaFeina.home.createOrEditLabel">Create or edit a Plantilla Feina</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.setmanaInicial" for="field_setmanaInicial">Setmana Inicial</label>
                    <div class="input-group">
                        <input id="field_setmanaInicial" type="text" class="form-control" name="setmanaInicial" ngbDatepicker #setmanaInicialDp="ngbDatepicker" formControlName="setmanaInicial"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="setmanaInicialDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.setmanaFinal" for="field_setmanaFinal">Setmana Final</label>
                    <div class="input-group">
                        <input id="field_setmanaFinal" type="text" class="form-control" name="setmanaFinal" ngbDatepicker #setmanaFinalDp="ngbDatepicker" formControlName="setmanaFinal"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="setmanaFinalDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.horaInici" for="field_horaInici">Hora Inici</label>
                    <div class="d-flex">
                        <input id="field_horaInici" type="datetime-local" class="form-control" name="horaInici" formControlName="horaInici" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.horaFinal" for="field_horaFinal">Hora Final</label>
                    <div class="d-flex">
                        <input id="field_horaFinal" type="datetime-local" class="form-control" name="horaFinal" formControlName="horaFinal" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.tempsPrevist" for="field_tempsPrevist">Temps Previst</label>
                    <div class="d-flex">
                        <input id="field_tempsPrevist" type="datetime-local" class="form-control" name="tempsPrevist" formControlName="tempsPrevist" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.intervalControl" for="field_intervalControl">Interval Control</label>
                    <input type="number" class="form-control" name="intervalControl" id="field_intervalControl"
                           formControlName="intervalControl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.diaSetmana" for="field_diaSetmana">Dia Setmana</label>
                    <select class="form-control" name="diaSetmana" formControlName="diaSetmana" id="field_diaSetmana">
                        <option value="DILLUNS">{{ 'gestioClientsApp.Dia.DILLUNS' | translate }}</option>
                        <option value="DIMARTS">{{ 'gestioClientsApp.Dia.DIMARTS' | translate }}</option>
                        <option value="DIMECRES">{{ 'gestioClientsApp.Dia.DIMECRES' | translate }}</option>
                        <option value="DIJOUS">{{ 'gestioClientsApp.Dia.DIJOUS' | translate }}</option>
                        <option value="DIVENDRES">{{ 'gestioClientsApp.Dia.DIVENDRES' | translate }}</option>
                        <option value="DISSABTE">{{ 'gestioClientsApp.Dia.DISSABTE' | translate }}</option>
                        <option value="DIUMENGE">{{ 'gestioClientsApp.Dia.DIUMENGE' | translate }}</option>
                        <option value="QUALSEVOL">{{ 'gestioClientsApp.Dia.QUALSEVOL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.facturacioAutomatica" for="field_facturacioAutomatica">Facturacio Automatica</label>
                    <input type="checkbox" class="form-control" name="facturacioAutomatica" id="field_facturacioAutomatica"
                           formControlName="facturacioAutomatica"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.observacions" for="field_observacions">Observacions</label>
                    <input type="text" class="form-control" name="observacions" id="field_observacions"
                           formControlName="observacions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.periodicitatConfigurable" for="field_periodicitatConfigurable">Periodicitat Configurable</label>
                    <select class="form-control" id="field_periodicitatConfigurable" name="periodicitatConfigurable" formControlName="periodicitatConfigurable">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodicitatConfigurableOption.id === editForm.get('periodicitatConfigurable')!.value?.id ? editForm.get('periodicitatConfigurable')!.value : periodicitatConfigurableOption" *ngFor="let periodicitatConfigurableOption of periodicitatconfigurables; trackBy: trackById">{{ periodicitatConfigurableOption.observacions }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" formControlName="categoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaOption.id === editForm.get('categoria')!.value?.id ? editForm.get('categoria')!.value : categoriaOption" *ngFor="let categoriaOption of categorias; trackBy: trackById">{{ categoriaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestioClientsApp.plantillaFeina.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestioClientsApp.plantillaFeina.treballador" for="field_treballadors">Treballador</label>
                    <select class="form-control" id="field_treballadors" multiple name="treballadors" formControlName="treballadors">
                        <option [ngValue]="getSelected(editForm.get('treballadors')!.value, treballadorOption)" *ngFor="let treballadorOption of treballadors; trackBy: trackById">{{ treballadorOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
